# Virtual environment
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Environment variable file
.env
